/* CLOCK BLOCK */

.clock_container {
    margin-top: 50px;
    margin-bottom: 40px;
}

.clock_container .time,
.clock_container .day,
.clock_container .date {
    margin: 0 auto 0 0;
    display: block;
    width: 100%;
    max-width: 320px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
}
.clock_container .time {
    font-size: 49px;
    line-height: 88px;
    position: relative;
    color: rgb(100, 207, 255);

    font-family:'Conv_digital-7',Sans-Serif;
}
.clock_container .date {
    position: relative;
    line-height: 1;
    padding-bottom: 20px;
    color: #DB4B4B;
    font-size: 25px;
    text-transform: uppercase;
    /*border-left: 1px solid #01B0FF;
    border-right: 1px solid #01B0FF;
    border-bottom: 1px solid #01B0FF;*/
}
.clock_container .date:before,
.clock_container .date::before {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #000;
    bottom: -1px;
    left: 25%;
    width: 50%;
}
.clock_container .day {
    line-height: 1;
    padding-top: 20px;
    /*border-left: 1px solid #01B0FF;
    border-right: 1px solid #01B0FF;
    border-top: 1px solid #01B0FF;*/
    text-transform: uppercase;
    font-size: 31px;
    letter-spacing: 8px;
    position: relative;
    color: rgb(1, 176, 255)
}
.clock_container .day:before,
.clock_container .day::before {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #000;
    top: -1px;
    left: 25%;
    width: 50%;
}
@media only screen and (max-width: 992px) {
    .clock_container {
        margin-bottom: 30px;
    }
    .clock_container .time,
    .clock_container .day,
    .clock_container .date {
        max-width: 600px;
    }
}

@media only screen and (max-width: 336px) {
    .clock_container .time {
        font-size: 28px;
    }
}