/* COUNTERS */
.counters_list {

}
.counterInfo {
    padding: 10px 0;
}
.eventInfo {
    color: #63f7e5;
    text-align: center;
}
.expDate {
    display: block;
    text-align: left;
    font-size: 25px;
    padding: 10px 0 40px;
}
.timeLeftInfo {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 22px;
    color: #fff
}
.infoCounter {
    width: 150px;
    height: 150px;
}
.rbc-center-text {
    font-family: 'Roboto', 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial;
    fill: white;
    font-size: 69px;
    text-transform: uppercase
}
.counterInfo H5 {
    display: block;
    color: #fff;
    font-size: 32px;
    text-transform: capitalize;
}
.expDateDescription {
    font-weight: bold;
    color: #01B0FF;
    padding: 30px 0;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    line-height: 35px;
    display: block;
}

a.stop_counter-js {
    float: right;
}
@media only screen and (max-width: 992px) {
    a.stop_counter-js {
        float: none;
        display: block;
        width: 200px;
        margin: 23px auto 0;
    }
    .eventInfo {
        text-align: center;
        font-size: 20px;
    }
}