<template name="layout">
    <main>

        <div class="row">
            <div class="col s12 m12 l12 xl6 clock_container">
                {{>clock getClockObj}}

                <a class="waves-effect waves-light btn-large amber darken-1 add_event_modal" href="/add">ADD EVENT</a>
                <a class="waves-effect waves-light btn-large lighten-2 btn-flat btn-fly" href="/fly">FLY</a>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l12" id="mainContainer">
                {{> yield}}
            </div>
        </div>
    </main>
</template>