<template name="layout">
    <main>

        <div class="row">
            <div class="clock_container">
                {{>clock getClockObj}}

                <div class="mainNav">
                    <a href="/">MAIN PAGE</a>
                    <a href="/login">ACCOUNT</a>
                    <a href="/add">ADD EVENT</a>
                    <a href="/fly">FLY</a>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col s12 m12 l12" id="mainContainer">
                {{> yield}}
            </div>
        </div>
    </main>
</template>