<template name="date">
    <div class="counterInfo" data-user="{{userId}}">
        <div class="eventInfo">
            <a href="/expDateDetails/{{_id}}">
                <h4 class="expDateDescription"><span>{{description}}</span></h4>
                <span class="expDateSmall">Expected date : <b>{{prettyDate}}</b></span>
            </a>
        </div>

        {{#if secondsLeft}}
            <div class="timeLeftInfo" id="id_{{_id}}"></div>
        {{else}}
            <h5>This event already happened!</h5>
        {{/if}}

    </div>
</template>