<template name="clock">
    {{#with getClockObj}}
        <div class="time">
            {{#each hoursDigits}}
                <span class="clockNixie" data-digit="{{this}}"></span>
            {{/each}}
            <span class="clockNixie__divider">:</span>
            {{#each minutesDigits}}
                <span class="clockNixie" data-digit="{{this}}"></span>
            {{/each}}
            <span class="clockNixie__divider">:</span>
            {{#each secondsDigits}}
                <span class="clockNixie" data-digit="{{this}}"></span>
            {{/each}}
        </div>
        <div class="day">{{dayName}}</div>
        <div class="date">
            <span>{{day}}</span> <span>{{month}}</span>, <span>{{year}}</span>
        </div>
    {{/with}}
</template>